<template>
  <f7-app id="app">
    <f7-view main>
      <router-view />
    </f7-view>
  </f7-app>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #505050;
}
</style>
