<template>
  <f7-page>
    <f7-navbar
      style="background-color: white; color: #303030;"
    >
      <f7-nav-title
        class="text-align-center"
        style="font-weight: bold; color: #bb071f"
      >
        FILM PREVIEWER
      </f7-nav-title>
      <f7-nav-right  class="padding-right">
        <font-awesome-icon
          :icon="['fas', 'search']"
          style="color: #bb071f"
          @click="$router.push({ name: 'search' })"
        ></font-awesome-icon>
      </f7-nav-right>
    </f7-navbar>
    <f7-swiper
      :params="{
        speed: 500,
        slidesPerView: 1.15,
        autoplay: true,
        spaceBetween: 5
      }"
    >
      <f7-swiper-slide v-for="mrec in mrecs" :key="mrec.id">
        <f7-card
          :style="{ backgroundImage: `url(${mrec.url + '/poster.jpg'})` }"
          class="poster margin-right-half"
        >
          <f7-card-footer
            style="background-color: rgba(0, 0, 0, 0.12); padding-top: 14vh"
            class="text-color-white"
          >
            <f7-row
              style="min-width: 78vw; padding-top: 0px"
              class="no-padding-top"
            >
              <f7-col class="margin-right-half" style="width: 75%">
                <h2 class="no-margin-bottom">{{ mrec.name }}</h2>
                <h2 class="no-margin-top">{{ mrec.year }}</h2>
              </f7-col>
              <f7-col
                class="align-self-center justify-content-right"
                style="width: 25%"
              >
                <font-awesome-icon
                  :icon="['fas', 'play']"
                  style="font-size: 2em; float: right"
                  @click="
                    $router.push({ name: 'series', params: { id: mrec.id } })
                  "
                >
                </font-awesome-icon>
              </f7-col>
            </f7-row>
          </f7-card-footer>
        </f7-card>
      </f7-swiper-slide>
    </f7-swiper>
    <div>
      <f7-block>
        <f7-row class="align-items-center">
          <f7-col style="width: 5%">
            <font-awesome-icon
              :icon="['fas', 'chevron-circle-left']"
              class="text-color-red"
              style="font-size: 1.8em"
              id="prev-btn"
              @click="prevPage"
            ></font-awesome-icon>
          </f7-col>
          <f7-col style="width: 88%">
            <h6
              style="font-size: 1.3em; font-weight: bold; line-height: 2.5em"
              class="no-margin-top no-margin-bottom text-align-center"
            >
              All Series &lpar;{{ currentPage }}/{{ pagecount }} &rpar;
            </h6>
          </f7-col>
          <f7-col style="width: 7%">
            <button @click="nextPage()" class="nav-action padding-right" id="next-btn">
              <font-awesome-icon
                :icon="['fas', 'chevron-circle-right']"
                class="text-color-red"
                style="font-size: 1.8em"
              ></font-awesome-icon>
            </button>
          </f7-col>
        </f7-row>
      </f7-block>
      <transition-group
        name="fade"
        enter-active-class="animated fadeInRight"
        leave-active-class="animated fadeOutLeft"
        tag="div"
        :key="currentPage"
        id="series"
      >
        <f7-card v-for="serie in series" :key="serie.id" class="serie">
          <div
            :style="{
              backgroundImage: `url(${serie.url + '/thumbnail.jpg'})`
            }"
            class="thumbnail"
          ></div>
          <f7-card-footer>
            <f7-row style="min-width: 38vw">
              <f7-col style="width: 98%">
                <span class="text-color-black font-weight-bold">{{
                  serie.name
                }}</span
                ><br />
                <span>{{ serie.year }}</span>
              </f7-col>
              <f7-col class="align-self-center" style="width: 2%">
                <font-awesome-icon
                  :icon="['fas', 'play']"
                  class="text-align-right"
                  @click="
                    $router.push({
                      name: 'series',
                      params: { id: serie.id }
                    })
                  "
                >
                </font-awesome-icon>
              </f7-col>
            </f7-row>
          </f7-card-footer>
        </f7-card>
      </transition-group>
    </div>
  </f7-page>
</template>
<style>
.bg-dull {
  background-color: #f0f0f0;
}
</style>
<style scoped>
#series {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr;
  overflow-y: auto;
  max-height: 500px;
}
.serie {
  min-width: 180px;
}
.font-weight-bold {
  font-weight: bold;
}
.thumbnail {
  min-height: 180px;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-size: cover;
  background-position: 50% 50%;
}
.poster {
  width: 85vw;
  height: 200px;
  background-size: cover;
  background-position: 50% 50%;
}
.serie-nav {
  background-color: #bb071f;
  line-height: 36px;
  width: 36px;
  font-size: 18px;
  margin-right: 10px;
  text-align: center;
  display: inline-block;
  color: #f0f0f0;
  border-radius: 50%;
}
.nav-action{
  background: transparent;
  border: none;
}
</style>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Series from "@/Transfer/Series";
import TvShow from "@/Transfer/TvShow";
import axios from "typed-axios";
@Component
export default class Home extends Vue {
  mrecs: Series[] = [];
  series: Series[] = [];
  baseUrl = process.env.VUE_APP_BACKEND + "/home";
  pagecount = 1;
  currentPage = 1;
  mounted() {
    this.index();
    this.getPageCount();
    this.mostRecent();
  }
  mostRecent() {
    const baseUrl = this.baseUrl + "/most_recent";
    axios({
      url: baseUrl
    }).then(response => {
      this.mrecs = response.data.map((tvshow: TvShow) => {
        return new Series(tvshow);
      });
    });
  }
  nextPage() {
    if (this.currentPage <= this.pagecount) {
      if (this.currentPage < this.pagecount) {
        this.currentPage = this.currentPage + 1;
        this.index();
      } else {
        this.index();
      }
    }
  }
  prevPage() {
    if (this.currentPage > 1) {
      this.currentPage -= 1;
      this.index();
    }
  }
  index() {
    const pageNo = this.currentPage;
    const baseUrl = this.baseUrl + "/index";
    axios({
      url: baseUrl,
      params: {
        pageNo: pageNo
      }
    }).then(response => {
      const info: TvShow[] = response.data;
      this.series = info.map((series: TvShow) => {
        return new Series(series);
      });
    });
  }
  getPageCount() {
    const burl = this.baseUrl + "/page_count";
    axios({
      url: burl
    }).then(response => {
      const result: { pages: number } = response.data;
      this.pagecount = result.pages;
    });
  }
}
</script>
