<template>
  <f7-page>
    <f7-navbar
      style="background-color: white; color: #303030"
    >
      <f7-nav-left class="padding-left">
        <font-awesome-icon
          :icon="['fas', 'arrow-left']"
          style="color: #bb071f"
          @click="$router.go(-1)"
        ></font-awesome-icon>
      </f7-nav-left>
      <f7-nav-title
        class="text-align-center"
        style="font-weight: bold; color: #bb071f"
      >
        FILM PREVIEWER
      </f7-nav-title>
    </f7-navbar>
    <f7-block>
      <f7-block-title>
        <f7-searchbar
          disable-button-text="Cancel"
          @search="find"
          :value="showName"
          @input="showName= $event.target.value"
          @change="find"
        ></f7-searchbar>
      </f7-block-title>
      <ul style="list-style:none; padding-left:10px;">
        <li v-for="serie in series" :key="serie.id" class="serie" @click="$router.push({name:'series',params:{id:serie.id}})">
          <div style="display:flex; font-size:1.34em; line-height:2.9em;">
            <div style="flex:4;">
              <span class="padding-right">
              <font-awesome-icon
                :icon="['fas', 'film']"
                style="color: #bb071f"
              ></font-awesome-icon>
              </span>
              <b>{{serie.name}}</b>,<i>{{serie.year}}</i>
            </div>
            <div style="jutify-self:right;">
              <font-awesome-icon
                :icon="['fas','chevron-right']"
              ></font-awesome-icon>
            </div>
          </div>
          <hr style="margin:0; opacity:0.5;"/>
        </li>
      </ul>
    </f7-block>
  </f7-page>
</template>
<style scoped>
.serie:hover{
  filter: brightness(0.80);
}
</style>
<script lang="ts">
import Series from "@/Transfer/Series";
import TvShow from "@/Transfer/TvShow";
import Vue from "vue";
import Component from "vue-class-component";
import axios from "typed-axios";
@Component
export default class Search extends Vue {
  series: Series[] = [];
  showName = "";
  baseUrl = process.env.VUE_APP_BACKEND + "/search";
  mounted() {
    this.index();
  }
  index() {
    axios({
      url: this.baseUrl + "/index",
    }).then((response) => {
      const tvshows = response.data as TvShow[];
      this.series = tvshows.map((el) => {
        return new Series(el);
      });
    });
  }
  find() {
    axios({
      url: this.baseUrl + "/find",
      params: {
        showName: this.showName,
      },
    }).then((response) => {
      const tvshows = response.data as TvShow[];
      this.series = tvshows.map((el) => {
        return new Series(el);
      });
    });
  }
}
</script>
