<template>
  <f7-page>
    <f7-navbar
      style="background-color: white; color: #303030;"
    >
      <f7-nav-left class="padding-left">
        <font-awesome-icon
          :icon="['fas', 'arrow-left']"
          style="color: #bb071f"
          @click="$router.go(-1)"
        ></font-awesome-icon>
      </f7-nav-left>
      <f7-nav-title
        class="text-align-center"
        style="font-weight: bold; color: #bb071f"
      >
        FILM PREVIEWER
      </f7-nav-title>
      <f7-nav-right class="padding-right">
        <font-awesome-icon
          :icon="['fas', 'search']"
          style="color: #bb071f"
        ></font-awesome-icon>
      </f7-nav-right>
    </f7-navbar>
    <div v-if="loaded">
      <f7-card>
        <f7-card-content :padding="false">
          <vue-core-video-player
            controls
            :core="HLSCore"
            :src="series.url + '/index.m3u8'"
          ></vue-core-video-player>
        </f7-card-content>
      </f7-card>
      <f7-block-title>{{ series.name }}</f7-block-title>
      <f7-block>
        <span> RELEASE YEAR: {{ series.year }} </span>
        <span class="float-right"> SEASONS {{ series.seasons }} </span>
      </f7-block>
      <f7-card>
        <f7-card-content class="text-align-justify">
          {{ series.plot }}
        </f7-card-content>
      </f7-card>
      <strong>Also Related</strong>
      <f7-swiper
        :params="{
          speed: 500,
          slidesPerView: 1.5,
          spaceBetween: 2
        }"
      >
        <f7-swiper-slide v-for="mrec in series.related" :key="mrec.id">
          <figure>
            <img :src="mrec.url + '/poster.jpg'" class="poster" />
            <figcaption>
              <f7-link @click="visit(mrec.id)">
                <strong>{{ mrec.name }}</strong>
              </f7-link>
            </figcaption>
          </figure>
        </f7-swiper-slide>
      </f7-swiper>
    </div>
  </f7-page>
</template>
<style scoped>
.poster {
  width: 65vw;
  height: 100px;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 10px;
}
</style>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import HLSCore from "@core-player/playcore-hls";
import Tseries from "@/Transfer/Tseries";
import axios from "typed-axios";
import TvShow from "@/Transfer/TvShow";
@Component
export default class Series extends Vue {
  series?: Tseries;
  seriesId = 0;
  loaded = false;
  HLSCore = HLSCore;
  baseURL = process.env.VUE_APP_BACKEND + "/series";
  created() {
    this.seriesId = parseInt(this.$route.params.id);
  }
  mounted() {
    this.index();
  }
  index() {
    const burl = this.baseURL + "/index";
    axios({
      url: burl,
      params: { seriesId: this.seriesId }
    }).then(response => {
      const series: TvShow = response.data;
      this.series = new Tseries(series);
      this.loaded = true;
    });
  }
  visit(id: number) {
    this.$router
      .push({
        name: "series",
        params: { id: id.toString() }
      })
      .then(() => {
        this.$router.go(0);
      });
  }
}
</script>
